<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Request</title>
</head>
<body>
    <h2>Movies</h2>
    <ul id="movieList"></ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function() {
            var $movieList = $("#movieList");

            console.log("hi");

            $.ajax({
                type: "GET",
                url: "/api/movies",
                success: function(movies) {
                    $.each(movies, function(i, movie) {
                        $movieList.append(`<li> ${movie.title} - released ${movie.year}</li>`)
                    });
                }
            });
        });
    </script>
</body>
</html>